.container {
    width: 100%;
    min-height: 60vh;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}
.empty {
    width: 100%;
    height: 58vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty p {
    color: #fe5d42;
    font-size: 1.8rem;
    font-weight: 700;
}
.products {
    width: 100%;
}